<h1>Success!</h1>

<ul>
<% @order.order_items.each do |item| %>
  <li>
    <%= item.book.title %>
    $<%= item.book.price %>
    Qty:<%= item.quantity %>
    Price: $<%= (item.book.price)*(item.quantity)%>
  </li>
<% end %>
<ul>
